* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

code {
  font-family: Menlo-Regular, monospace;
  background: white;
  border: solid 1px #dedede;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
}

code[class^="language-"] {
  display: block !important;
  background: white;
  border: solid 1px #dedede;
  padding: 0.7em 1em;
  font-size: 0.9em;
  overflow: scroll;
}

img {
  max-width: 100%;
  height: auto;
}

h2:before {
  content: "\A";
  width: 8px;
  height: 20px;
  background: #de4c4f;
  display: inline-block;
  margin: 0 10px 0 0;
}

h1,
h2,
h3,
h4,
h5 {
  > a.markdownIt-Anchor > span {
    color: transparent;
  }
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover {
  > a.markdownIt-Anchor > span {
    color: #dfe3e6;
  }
  > a.markdownIt-Anchor:hover > span {
    color: #de4c4f;
  }
}
